<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div>
        <h1>Build Your TODO List</h1>
        <br>
    </div>
    <div>
        <form action="/add" method="post">
            <div>
                <label>Todo</label>
                <input type="text" name="title" placeholder="Enter your task here...">
                <button type="submit">Add</button>
            </div>
        </form>

        <hr>

        <div class="center-div">
        <ul>
            Your TODO items
            {% for todo in todo_list %}
                <li>
                <div style="flex-grow: 2; text-align: left;">
                    {% if todo.complete == False %}
                    <span style="color:brown">Ongoing <i class="fa-regular fa-circle"></i></span>
                    <span> {{todo.id }}. {{ todo.title }}</span>
                    {% else %}
                    <span style="color:forestgreen">Complete <i class="fa-solid fa-check" style="color:forestgreen"></i> </span>
                    <span style="color:forestgreen"> {{todo.id }}. {{ todo.title }}</span>
                    {% endif %}
                    &emsp; &emsp;
                </div>
            

                <a href="/update/{{ todo.id }}" style="position:relative; margin-left: 15px;">Update</a>
                <a href="/delete/{{ todo.id }}" style="color:crimson; margin-left: 5px;">Delete</a>
                </li>
            {% endfor %}
        </ul>

        <div class="search-bar">
            <form action="/search" method="post">
                <div>
                    <label>Search</label>
                    <input type="text" name="keyword" placeholder="Keywords...">
                    <button type="submit" style="margin-left: 5px;">Search</button>
                </div>
            </form>
            <form action="/search" method="post">
                <div>
                    <button type="submit" style="margin-left: 5px;">Reset</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</body>

</html>