<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Use responsive layout -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <!-- Import the stylesheets  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div>
        <!-- Header of the app -->
        <h1>Build Your TODO List</h1>
        <br>
    </div>
    <div>
        <!-- Form for adding a new todo item in the list with POST method -->
        <!-- Use the /add API route for adding a new item -->
        <form action="/add" method="post">
            <div>
                <label>Todo</label>
                <!-- Get the description of the todo item from users' input -->
                <input type="text" name="description" placeholder="Enter your task here...">
                <!-- Button for submitting the add action -->
                <button type="submit">Add</button>
            </div>
        </form>

        <hr>

        <!-- Container for the todo list -->
        <div class="center-div">
        <ul>
            <!-- Todo list -->
            Your TODO items
            <!-- Iterate through the todo_list stored in the SQL database -->
            {% for todo in todo_list %}
            <li>
                <!-- Container for each todo item -->
                <div style="flex-grow: 2; text-align: left;">
                    <!-- If todo item's complete status is incomplete -->
                    {% if todo.complete == False %}
                    <!-- Given an red ongoing mark (text + empty circle) -->
                    <span style="color:brown">Ongoing <i class="fa-regular fa-circle"></i></span>
                    <!-- Show the todo id and description in regular text -->
                    <span> {{todo.id }}. {{ todo.title }}</span>
                    {% else %}
                    <!-- If todo item is marked as complete -->
                    <!-- Give a green complete mark (text + check mark)  -->
                    <span style="color:forestgreen">Complete <i class="fa-solid fa-check" style="color:forestgreen"></i> </span>
                    <!-- Show the todo id and description in green text -->
                    <span style="color:forestgreen;text-decoration: line-through;"> {{todo.id }}. {{ todo.title }}</span>
                    {% endif %}
                    &emsp; &emsp;
                </div>
            
                <!-- Button for updating this todo item's complete status -->
                <a href="/update/{{ todo.id }}" style="position:relative; margin-left: 15px;">Update</a>
                <!-- Button for removing this todo item -->
                <a href="/delete/{{ todo.id }}" style="color:crimson; margin-left: 5px;">Delete</a>
            </li>
            {% endfor %}
        </ul>

        <!-- Container for the search bar -->
        <div class="search-bar">
            <!-- Use the /search API route -->
            <form action="/search" method="post">
                <div>
                    <label>Search</label>
                    <!-- Get the searching keyword from the user's input -->
                    <input type="text" name="keyword" placeholder="Keywords...">
                    <!-- Button for searching todo with keyword -->
                    <button type="submit" style="margin-left: 5px;">Search</button>
                </div>
            </form>
            <!-- Reset button use /search API -->
            <form action="/search" method="post">
                <!-- But with empty search text, so app will return all todo item stored in database -->
                <!-- Reset todo list back to its original status -->
                <div>
                    <button type="submit" style="margin-left: 5px;">Reset</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</body>

</html>